ask_sdk_core==1.19.0
django-ask-sdk==1.0.0
django-cors-headers==4.9.0
django-fullurl==1.4
django-ninja==1.5.3
django==6.0.2
google-cloud-logging==3.13.0
icalendar==7.0.1
jdcal==1.4.1
Jinja2==3.1.6               # Typogrify imports this even though we're not using it
newrelic==11.5.0
python-dateutil==2.9.0.post0
requests==2.32.5
servestatic[brotli]==3.1.0
typogrify==2.1.0
uvicorn[standard]==0.41.0
# oscrypto is a dependency of one of the above packages.
# We can go back to mainline oscrypto once
# https://github.com/wbond/oscrypto/issues/78 is fixed
oscrypto @ https://github.com/wbond/oscrypto/archive/1547f535001ba568b239b8797465536759c742a3.zip
