ask_sdk_core==1.19.0
django-ask-sdk==1.0.0
django-cors-headers==4.3.1
django-fullurl==1.4
django-google-fonts==0.0.3
django-ninja==1.1.0
django==5.0.1
icalendar==5.0.11
jdcal==1.4.1
Jinja2==3.1.2               # Typogrify imports this even though we're not using it
newrelic==9.3.0
python-dateutil==2.8.2
requests==2.31.0
typogrify==2.0.7
uvicorn[standard]==0.26.0
# We can go back to mainline whitenoise once
# https://github.com/evansd/whitenoise/pull/359 is merged
whitenoise[brotli] @ https://github.com/Archmonger/whitenoise/zipball/asgi-compat
# oscrypto is a dependency of one of the above packages.
# We can go back to mainline oscrypto once
# https://github.com/wbond/oscrypto/issues/78 is fixed
oscrypto @ https://github.com/wbond/oscrypto/archive/1547f535001ba568b239b8797465536759c742a3.zip
