Jinja2==3.1.2               # Typogrify imports this even though we're not using it
ask_sdk_core==1.19.0
django-ask-sdk==1.0.0
django-cors-headers==4.3.1
django-fullurl==1.4
django-ninja==1.0.1
django==5.0rc1
icalendar==5.0.11
jdcal==1.4.1
newrelic==9.2.0
python-dateutil==2.8.2
requests==2.31.0
typogrify==2.0.7
uvicorn[standard]==0.24.0.post1
# We can go back to mainline whitenoise once
# https://github.com/evansd/whitenoise/pull/359 is merged
whitenoise @ git+https://github.com/Archmonger/whitenoise@asgi-compat
#whitenoise[brotli]
