{% extends "content_base.html" %}
{% load fullurl %}

{% block title %}{% if request.resolver_match.url_name == "calendar-default" %}Orthodox Monthly Calendar{% else %}Orthodox Calendar for {{ this_month|date:"F Y" }}{% endif %}{% endblock %}

{% block head %}
	{% if request.resolver_match.url_name == "calendar-default" %}
		<meta name="description" content="An Orthodox monthly calendar including information about feasts, fasts, commemorations, and readings.">
	{% else %}
		<meta name="description" content="An Orthodox calendar including information about feasts, fasts, commemorations, and readings for the month of {{ this_month|date:"F Y" }}.">
	{% endif %}

	<link rel="alternate" type="application/json+oembed" href="{% fullurl "api:get_calendar_embed" %}?url={{ request.build_absolute_uri|urlencode:"" }}">
	<link rel="canonical" href="{% fullurl "calendar" tradition=tradition cal=cal year=this_month.year month=this_month.month %}">

	{% if noindex %}
		<meta name="robots" content="noindex">
	{% endif %}
{% endblock %}

{% block extra_nav %}
	<div class="page-nav-row">
		<div class="day-nav">
			<a class="cal-nav" href="{% url "calendar" tradition=tradition cal=cal year=previous_month.year month=previous_month.month %}" {% if previous_nofollow %}rel="nofollow"{% endif %} hx-get="{% url "calendar" tradition=tradition cal=cal year=previous_month.year month=previous_month.month %}" hx-select="#orthocal-content" hx-target="#orthocal-content" hx-swap="outerHTML" hx-push-url="true">&larr; {{ previous_month|date:"F" }}</a>
			<a class="cal-nav" href="{% url "calendar" tradition=tradition cal=cal year=next_month.year month=next_month.month %}" {% if next_nofollow %}rel="nofollow"{% endif %} hx-get="{% url "calendar" tradition=tradition cal=cal year=next_month.year month=next_month.month %}" hx-select="#orthocal-content" hx-target="#orthocal-content" hx-swap="outerHTML" hx-push-url="true">{{ next_month|date:"F" }} &rarr;</a>
		</div>

		<div class="toggle-row" hx-params="none">
			<div class="segmented-control">
				<label title="OCA, ROCOR"><input type="radio" name="tradition" value="slavic" {% if tradition == "slavic" %}checked=""{% endif %} hx-get="{% url "calendar" tradition="slavic" cal=cal year=this_month.year month=this_month.month %}" hx-select="#orthocal-content" hx-target="#orthocal-content" hx-swap="outerHTML transition:true" hx-push-url="true">Slavic</label>
				<label title="Antiochian, Greek Archdiocese"><input type="radio" name="tradition" value="greek" {% if tradition == "greek" %}checked=""{% endif %} hx-get="{% url "calendar" tradition="greek" cal=cal year=this_month.year month=this_month.month %}" hx-select="#orthocal-content" hx-target="#orthocal-content" hx-swap="outerHTML transition:true" hx-push-url="true">Greek</label>
			</div>
			<div class="segmented-control">
				<label><input type="radio" name="calendar" value="gregorian" {% if cal == "gregorian" %}checked=""{% endif %} hx-get="{% url "calendar" tradition=tradition cal="gregorian" year=this_month.year month=this_month.month %}" hx-select="#orthocal-content" hx-target="#orthocal-content" hx-swap="outerHTML transition:true" hx-push-url="true">Gregorian</label>
				<label><input type="radio" name="calendar" value="julian" {% if cal == "julian" %}checked=""{% endif %} hx-get="{% url "calendar" tradition=tradition cal="julian" year=this_month.year month=this_month.month %}" hx-select="#orthocal-content" hx-target="#orthocal-content" hx-swap="outerHTML transition:true" hx-push-url="true">Julian</label>
			</div>
		</div>
	</div>
{% endblock extra_nav %}

{% block main %}
	{{ content|safe }}
{% endblock %}
