<td class="{{ cell_class }}" onclick="location.href='{% url "calendar" jurisdiction=jurisdiction year=day.year month=day.month day=day.day%}'">
	<a href="{% url "calendar" jurisdiction=jurisdiction year=day.year month=day.month day=day.day%}">
		<p class="day-number">
			{{ day_number }}
		</p>

		{% if day.titles %}
		<p>{{ day.titles|join:"; " }}</p>
		{% endif %}

		<p>{{ day.fast_level_desc }}{% if day.fast_level and day.fast_exception_desc %}&mdash;{{ day.fast_exception_desc }}{% endif %}

		{% if day.feasts %}
		<p class="feast">{{ day.feasts|join:"; " }}</p>
		{% endif %}

		{% if day.saints %}
		<p>{{ day.saints|join:"; " }}</p>
		{% endif %}
	</a>
</td>
