{% extends "content_base.html" %}
{% load fullurl %}

{% block title %}{% if request.resolver_match.url_name == "calendar-default" %}Orthodox Monthly Calendar{% else %}Orthodox Calendar for {{ this_month|date:"F Y" }}{% endif %}{% endblock %}

{% block head %}
	{% if request.resolver_match.url_name == "calendar-default" %}
		<meta name="description" content="An Orthodox monthly calendar including information about feasts, fasts, commemorations, and readings.">
	{% else %}
		<meta name="description" content="An Orthodox calendar including information about feasts, fasts, commemorations, and readings for the month of {{ this_month|date:"F Y" }}.">
	{% endif %}

	<link rel="alternate" type="application/json+oembed" href="{% fullurl "api:get_calendar_embed" %}?url={{ request.build_absolute_uri|urlencode:"" }}">
	<link rel="canonical" href="{% fullurl "calendar" tradition=tradition cal=cal year=this_month.year month=this_month.month %}">

	{% if noindex %}
		<meta name="robots" content="noindex">
	{% endif %}
{% endblock %}

{% block extra_nav %}
	<div class="page-nav-row">
		<div class="day-nav">
			<a class="cal-nav" href="{% url "calendar" tradition=tradition cal=cal year=previous_month.year month=previous_month.month %}" {% if previous_nofollow %}rel="nofollow"{% endif %} hx-get="{% url "calendar" tradition=tradition cal=cal year=previous_month.year month=previous_month.month %}" hx-select="#orthocal-content" hx-target="#orthocal-content" hx-swap="outerHTML transition:true" hx-push-url="true">&larr; {{ previous_month|date:"F" }}</a>
			<a class="cal-nav" href="{% url "calendar" tradition=tradition cal=cal year=next_month.year month=next_month.month %}" {% if next_nofollow %}rel="nofollow"{% endif %} hx-get="{% url "calendar" tradition=tradition cal=cal year=next_month.year month=next_month.month %}" hx-select="#orthocal-content" hx-target="#orthocal-content" hx-swap="outerHTML transition:true" hx-push-url="true">{{ next_month|date:"F" }} &rarr;</a>
		</div>

		<div class="toggle-row" hx-params="none">
			<label class="toggle-picker" title="Liturgical tradition">
				<select name="tradition" hx-get="" hx-on::config-request="event.detail.path = this.value" hx-select="#orthocal-content" hx-target="#orthocal-content" hx-swap="outerHTML transition:true" hx-push-url="true">
					<option value="{% url "calendar" tradition="slavic" cal=cal year=this_month.year month=this_month.month %}" {% if tradition == "slavic" %}selected{% endif %}>OCA</option>
					<option value="{% url "calendar" tradition="greek" cal=cal year=this_month.year month=this_month.month %}" {% if tradition == "greek" %}selected{% endif %}>GOA</option>
				</select>
			</label>
			<label class="toggle-picker" title="Calendar">
				<select name="calendar" hx-get="" hx-on::config-request="event.detail.path = this.value" hx-select="#orthocal-content" hx-target="#orthocal-content" hx-swap="outerHTML transition:true" hx-push-url="true">
					<option value="{% url "calendar" tradition=tradition cal="gregorian" year=this_month.year month=this_month.month %}" {% if cal == "gregorian" %}selected{% endif %}>Gregorian</option>
					<option value="{% url "calendar" tradition=tradition cal="julian" year=this_month.year month=this_month.month %}" {% if cal == "julian" %}selected{% endif %}>Julian</option>
				</select>
			</label>
		</div>
	</div>
{% endblock extra_nav %}

{% block main %}
	{{ content|safe }}
{% endblock %}
