{% extends "content_base.html" %}

{% block title %}Monthly Calendar{% endblock %}

{% block main %}
	<article id="orthocal">
		<section class="calendar">
			<a class="cal-nav" href="{% url "calendar-month" cal=cal year=previous_month.year month=previous_month.month %}">&larr; {{ previous_month|date:"F" }}</a>
			<a class="cal-nav" href="{% url "calendar-month" cal=cal year=next_month.year month=next_month.month %}">{{ next_month|date:"F" }} &rarr;</a>

			<br/>

			<label><input type="radio" name="calendar" value="gregorian" {% if cal == "gregorian" %}checked=""{% endif %} />Gregorian</label>
			<label><input type="radio" name="calendar" value="julian" {% if cal == "julian" %}checked=""{% endif %} />Julian</label>

			{{ content|safe }}
		</section>
	</article>
{% endblock %}

{% block scripts %}
<script>
	var radios = document.getElementsByName('calendar');
	for (var i = 0; i < radios.length; i++) {
		radios[i].addEventListener('change', function() {
			if (this.value == 'julian') {
				document.cookie = '__session=julian; path=/';
			}else{
				document.cookie = '__session=gregorian; path=/';
			}
			window.location.reload();
		});
	}
</script>
{% endblock %}
