<td class="{{ cell_class }} {% if day.fast_level %}fast{% endif %}" onclick="location.href='{% url "readings" cal=cal year=day.year month=day.month day=day.day %}'">
	<a href="{% url "readings" cal=cal year=day.year month=day.month day=day.day%}">
		<p class="day-number">
			{{ day_number }}
		</p>

		{# Only show fasting information on fast days #}
		{% if day.fast_level and day.fast_level != 10 or day.fast_level == 11 %}
			<p>{{ day.fast_level_desc }}{% if day.fast_level and day.fast_exception_desc %}&mdash;{{ day.fast_exception_desc }}{% endif %}
		{% endif %}

		{% if day.service_notes %}
		<ul>
			{% for note in day.service_notes %}
			<li>{{ note }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if day.weekday == 0 or day.pdist > -9 and day.pdist < 7 %}
			{% if day.titles %}
			<ul>
				{% for title in day.titles %}
				<li>{{ title }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endif %}


		{% if day.feasts %}
		<ul class="feasts">
			{% for feast in day.feasts %}
			<li>{{ feast }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if day.saints %}
		<ul class="saints">
			{% for saint in day.saints %}
			<li>{{ saint }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</a>
</td>
