{% load fullurl %}
<h1>{{ obj.titles.0 }}</h1>

<img src="{% fullstatic "safari-pinned-tab.svg" %}" align="right">

<p>
	{{ obj.fast_level_desc }} 
	{% if obj.fast_level and obj.fast_exception %}— {{ obj.fast_exception_desc }}{% endif %}
</p>

{% if obj.feasts %}
<h2>Feasts</h2>
<ul>
	{% for feast in obj.feasts %}
	<li>{{ feast }}</li>
	{% endfor %}
</ul>
{% endif %}

{% if obj.saints %}
<h2>Commemorations</h2>
<ul>
	{% for saint in obj.saints %}
	<li>{{ saint }}</li>
	{% endfor %}
</ul>
{% endif %}

<h2>Scripture Readings (KJV)</h2>

{% for reading in obj.get_readings %}
<section>
	<h3>
		{{ reading.display }}
		({{ reading.source }}{% if reading.desc %}, {{ reading.desc }}{% endif %})
	</h3>

	{% for verse in reading.get_passage %}
	<p><sup>{{ verse.verse }}</sup> {{ verse.content }}</p>
	{% endfor %}
</section>
{% endfor %}

{% if obj.stories %}
	<h2>Commemorations (<a href="http://abbamoses.com/months/{{ date|date:"F"|lower }}.html">abbamoses.com</a>)</h2>

	{% for reading in obj.stories %}
	<section>
		<h3>{{ reading.title }}</h3>

		{{ reading.story|safe }}
	</section>
	{% endfor %}
{% endif %}
