{% extends "base.html" %}

{% block head %}
<link rel="alternate" type="application/json+oembed" href="{{ PUBLIC_URL }}{% url "api:get_reading_embed" %}?url={{ PUBLIC_URL }}{{ request.path }}">
{% endblock %}

{% block main %}
	<article id="orthocal">
			<a class="cal-nav" href="{% url "calendar-day" cal=cal year=previous_date.year month=previous_date.month day=previous_date.day %}">&larr; Previous Day</a>
			<a class="cal-nav" href="{% url "calendar-day" cal=cal year=now.year month=now.month day=now.day %}">Today</a>
			<a class="cal-nav" href="{% url "calendar-day" cal=cal year=next_date.year month=next_date.month day=next_date.day %}">Next Day &rarr;</a>

			<br>

			<label><input type="radio" name="calendar" value="gregorian" {% if cal == "gregorian" %}checked=""{% endif %}>Gregorian</label>
			<label><input type="radio" name="calendar" value="julian" {% if cal == "julian" %}checked=""{% endif %}>Julian</label>

			<div class="day">
				<h2>{{ day.gregorian_date|date:"F j, Y" }}<span><br>{{ day.titles.0 }}</span></h2>

				<p>
					{{ day.fast_level_desc }} 
					{% if day.fast_level and day.fast_exception %}— {{ day.fast_exception_desc }}{% endif %}
				</p>

				{% if day.feasts %}
				<section class="feasts">
					<h3>Feasts</h3>
					<ul>
						{% for feast in day.feasts %}
						<li>{{ feast }}</li>
						{% endfor %}
					</ul>
				</section>
				{% endif %}

				{% if day.saints %}
				<section class="commemorations">
					<h3>Commemorations</h3>
					<ul>
						{% for saint in day.saints %}
						<li>{{ saint }}</li>
						{% endfor %}
					</ul>
				</section>
				{% endif %}

				<section class="readings">
					<h2>Scripture Readings (KJV)</h2>

					{% for reading in day.readings %}
					<section class="passage">
						<h4>
							{{ reading.display }}
							({{ reading.source }}{% if reading.desc %}, {{ reading.desc }}{% endif %})
						</h4>

						{% for verse in reading.passage %}
						<p><span class="verse-number">{{ verse.verse }}</span> {{ verse.content }}</p>
						{% endfor %}
					</section>
					{% endfor %}

					{% if day.stories %}
						<h2>Commemorations (<a href="http://abbamoses.com/months/{{ date|date:"F"|lower }}.html">abbamoses.com</a>)</h2>

						{% for reading in day.stories %}
						<section class="passage">
							<h4>{{ reading.title }}</h4>

							{{ reading.story|safe }}
						</section>
						{% endfor %}
					{% endif %}
				</section>
			</div>
	</article>
{% endblock %}

{% block scripts %}
<script>
	var radios = document.getElementsByName('calendar');
	for (var i = 0; i < radios.length; i++) {
		radios[i].addEventListener('change', function() {
			if (this.value == 'julian'){
				document.cookie = '__session=julian; path=/';
				location.href = '{% url "calendar-day" cal='julian' year=date.year month=date.month day=date.day %}';
			}else{
				document.cookie = '__session=gregorian; path=/';
				location.href = '{% url "calendar-day" cal='gregorian' year=date.year month=date.month day=date.day %}';
			}
		});
	}
</script>
{% endblock %}
