{% extends "base.html" %}
{% load typogrify_tags %}
{% load fullurl %}

{% block title %}{% if request.resolver_match.url_name == "index" %}Orthodox Daily Scripture Readings and Lives of the Saints{% else %}Orthodox Daily Readings for {{ day.gregorian_date|date:"F j, Y" }}{% endif %}{% endblock %}

{% block head %}
	{% if request.resolver_match.url_name == "index" %}
		<meta name="description" content="Feasts, fasts, scripture readings and stories from the lives of the saints for every day of the year.">
	{% else %}
		<meta name="description" content="Feasts, fasts, scripture readings and stories from the lives of the Saints for {{ day.gregorian_date|date }}.">
	{% endif %}

	<link rel="canonical" href="{% fullurl "readings" tradition=tradition cal=cal year=date.year month=date.month day=date.day %}">

	{% if noindex %}
		<meta name="robots" content="noindex">
	{% endif %}
{% endblock %}

{% block extra_nav %}
	<a class="cal-nav" href="{% url "readings" tradition=tradition cal=cal year=previous_date.year month=previous_date.month day=previous_date.day %}" {% if previous_nofollow %}rel="nofollow"{% endif %}>&larr; Previous Day</a>
	<a class="cal-nav" href="{% url "index" %}">Today</a>
	<a class="cal-nav" href="{% url "readings" tradition=tradition cal=cal year=next_date.year month=next_date.month day=next_date.day %}" {% if next_nofollow %}rel="nofollow"{% endif %}>Next Day &rarr;</a>

	<br>

	<label><input type="radio" name="calendar" value="gregorian" {% if cal == "gregorian" %}checked=""{% endif %}>Gregorian</label>
	<label><input type="radio" name="calendar" value="julian" {% if cal == "julian" %}checked=""{% endif %}>Julian</label>

	<br>

	<label><input type="radio" name="tradition" value="slavic" {% if tradition == "slavic" %}checked=""{% endif %}>Slavic</label>
	<label><input type="radio" name="tradition" value="greek" {% if tradition == "greek" %}checked=""{% endif %}>Greek</label>
{% endblock %}

{% block main %}
	<header>
		<h1>{{ day.gregorian_date|date|widont }}<span><br>{{ day.titles.0|widont }}</span></h1>

		<p class="fasting">
			{% filter widont %}
			{{ day.fast_level_desc }}
			{% if day.fast_level and day.fast_exception %}— {{ day.fast_exception_desc }}{% endif %}
			{% endfilter %}
		</p>

		{% if day.service_notes %}
		<section class="service-notes">
			<h2>Service Notes</h2>
			<ul>
				{% for note in day.service_notes %}
				<li>{{ note|widont }}</li>
				{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if day.feasts %}
		<section class="feasts">
			<h2>Feasts</h2>
			<ul>
				{% for feast in day.feasts %}
				<li>{{ feast|widont }}</li>
				{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if day.saints %}
		<section class="commemorations">
			<h2>Commemorations</h2>
			<ul>
				{% for saint in day.saints %}
				<li>{{ saint|widont }}</li>
				{% endfor %}
			</ul>
		</section>
		{% endif %}
	</header>

	<section class="readings">
		<h1>Scripture Readings&nbsp;(KJV)</h1>

		{% for reading in day.readings %}
		<article class="passage">
			<h2>
				{% filter widont %}
				{{ reading.pericope.display }}
				({{ reading.source }}{% if reading.desc %}, {{ reading.desc }}{% endif %})
				{% endfilter %}
			</h2>

			<p>
			{% for verse in reading.pericope.passage %}
				{% if verse.paragraph_start and not forloop.first %}</p><p>{% endif %}
				<span class="verse-number">{{ verse.verse }}</span>{{ verse.content }}
			{% endfor %}
			</p>
		</article>
		{% endfor %}
	</section>

	<section class="readings">
		{% if day.stories %}
		<h1>Commemorations</h1>

			{% for reading in day.stories %}
			<article class="passage">
				<h2>{{ reading.title|widont }}</h2>

				{{ reading.story|safe }}
			</article>
			{% endfor %}
		{% endif %}
	</section>
{% endblock %}

{% block scripts %}
<script>
	function navigate(){
		var cal = document.querySelector('input[name="calendar"]:checked').value;
		var tradition = document.querySelector('input[name="tradition"]:checked').value;
		var urls = {
			'gregorian_slavic': '{% url "readings" tradition="slavic" cal="gregorian" year=date.year month=date.month day=date.day %}',
			'gregorian_greek': '{% url "readings" tradition="greek" cal="gregorian" year=date.year month=date.month day=date.day %}',
			'julian_slavic': '{% url "readings" tradition="slavic" cal="julian" year=date.year month=date.month day=date.day %}',
			'julian_greek': '{% url "readings" tradition="greek" cal="julian" year=date.year month=date.month day=date.day %}'
		};
		var t = new Date().getTime();
		location.href = urls[cal + '_' + tradition] + '?t=' + t;
	}

	function wire_toggles(){
		var radios = document.getElementsByName('calendar');
		for (var i = 0; i < radios.length; i++) {
			radios[i].addEventListener('change', navigate);
		}

		radios = document.getElementsByName('tradition');
		for (var i = 0; i < radios.length; i++) {
			radios[i].addEventListener('change', navigate);
		}
	}

	document.addEventListener('DOMContentLoaded', wire_toggles)
</script>
{% endblock %}
