{% extends "base.html" %}
{% load typogrify_tags %}

{% block title %}{% if request.resolver_match.url_name == "index" %}Orthodox Daily Scripture Readings and Lives of the Saints{% else %}Orthodox Daily Readings for {{ day.gregorian_date|date:"F j, Y" }}{% endif %}{% endblock %}

{% block head %}
	{% if request.resolver_match.url_name == "index" %}
		<meta name="description" content="Feasts, fasts, scripture readings and stories from the lives of the saints for every day of the year.">
	{% else %}
		<meta name="description" content="Feasts, fasts, scripture readings and stories from the lives of the Saints for {{ day.gregorian_date|date:"F j, Y" }}.">
	{% endif %}
{% endblock %}

{% block extra_nav %}
	<a class="cal-nav" href="{% url "readings" cal=cal year=previous_date.year month=previous_date.month day=previous_date.day %}">&larr; Previous Day</a>
	<a class="cal-nav" href="{% url "index" %}">Today</a>
	<a class="cal-nav" href="{% url "readings" cal=cal year=next_date.year month=next_date.month day=next_date.day %}">Next Day &rarr;</a>

	<br>

	<label><input type="radio" name="calendar" value="gregorian" {% if cal == "gregorian" %}checked=""{% endif %}>Gregorian</label>
	<label><input type="radio" name="calendar" value="julian" {% if cal == "julian" %}checked=""{% endif %}>Julian</label>
{% endblock %}

{% block main %}
	<header>
		<h1>{{ day.gregorian_date|date|widont }}<span><br>{{ day.titles.0|widont }}</span></h1>

		<p class="fasting">
			{% filter widont %}
			{{ day.fast_level_desc }} 
			{% if day.fast_level and day.fast_exception %}— {{ day.fast_exception_desc }}{% endif %}
			{% endfilter %}
		</p>

		{% if day.service_notes %}
		<section class="service-notes">
			<h2>Service Notes</h2>
			<ul>
				{% for note in day.service_notes %}
				<li>{{ note|widont }}</li>
				{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if day.feasts %}
		<section class="feasts">
			<h2>Feasts</h2>
			<ul>
				{% for feast in day.feasts %}
				<li>{{ feast|widont }}</li>
				{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if day.saints %}
		<section class="commemorations">
			<h2>Commemorations</h2>
			<ul>
				{% for saint in day.saints %}
				<li>{{ saint|widont }}</li>
				{% endfor %}
			</ul>
		</section>
		{% endif %}
	</header>

	<section class="readings">
		<h1>Scripture Readings&nbsp;(KJV)</h1>

		{% for reading in day.readings %}
		<article class="passage">
			<h2>
				{% filter widont %}
				{{ reading.pericope.display }}
				({{ reading.source }}{% if reading.desc %}, {{ reading.desc }}{% endif %})
				{% endfilter %}
			</h2>

			{% for verse in reading.pericope.passage %}
			<p><span class="verse-number">{{ verse.verse }}</span> {{ verse.content }}</p>
			{% endfor %}
		</article>
		{% endfor %}
	</section>

	<section class="readings">
		{% if day.stories %}
		<h1>Commemorations <span class="print-exclude">(<a href="http://abbamoses.com/months/{{ date|date:"F"|lower }}.html">abbamoses.com</a>)</span></h1>

			{% for reading in day.stories %}
			<article class="passage">
				<h2>{{ reading.title|widont }}</h2>

				{{ reading.story|safe }}
			</article>
			{% endfor %}
		{% endif %}
	</section>
{% endblock %}

{% block scripts %}
<script>
	var radios = document.getElementsByName('calendar');
	for (var i = 0; i < radios.length; i++) {
		radios[i].addEventListener('change', function() {
			if (this.value == 'julian'){
				document.cookie = '__session=julian; path=/';
				location.href = '{% url "readings" cal='julian' year=date.year month=date.month day=date.day %}';
			}else{
				document.cookie = '__session=gregorian; path=/';
				location.href = '{% url "readings" cal='gregorian' year=date.year month=date.month day=date.day %}';
			}
		});
	}
</script>
{% endblock %}
