{% extends "content_base.html" %}

{% block title %}Alexa Skill for the Orthodox Calendar{% endblock %}

{% block head %}
	<meta name="description" content="Orthocal.info powers the Orthodox Daily Alexa skill, making it easy to access the daily scripture readings and lives of the saints.">
{% endblock %}

{% block content %}
	<h2>Alexa Skill</h2>
	<p>The primary purpose for building this service was to support
	<a href="https://alexa-skills.amazon.com/apis/custom/skills/amzn1.ask.skill.fa1a7ada-10cc-4d71-b8aa-d7c604ff52ca/launch">Orthodox Daily</a>,
	an Amazon Alexa skill.  Orthodox Daily makes it easy to access the daily
	scripture readings and commemorations. Simply ask Alexa to open Orthodox Daily, and she will
	provide you with a few details about today, including the fasting rules,
	and then read the prescribed scriptures and lives of the saints out loud.
	The scriptures are read from the King James Version and follow
	OCA rubrics. For the Alexa skill, the number of readings is abbreviated. A
	fuller list is available on this website. The stories from the lives of the
	saints are borrowed from <a href="http://abbamoses.com">abbamoses.com</a> by 
	permission.</p>

	<p>You can also ask Alexa directly about a particular day. For instance you can
	say, “Alexa, ask Orthodox Daily about tomorrow.” Or you could say, “Alexa, ask
	Orthodox daily about the fast on Friday,” or “Alexa, ask Orthodox Daily about
	saints on August 10.”</p>

	<p>If you want to skip all the extra details and go straight to the scriptures,
	just say, “Alexa, ask Orthodox Daily to read the scriptures.” If you missed
	the scriptures yesterday, you can say, “Alexa, ask Orthodox Daily to read
	the scriptures for yesterday.” If you'd like to jump to the lives of the
	saints, just say, “Alexa, ask Orthodox Daily to read the lives of the
	saints,” or “Alexa, ask Orthodox Daily about the commemorations on
	Saturday.”</p>

	<p>There are some known bugs. Orthodox Daily runs in Pacific timezone. If you live
	on the east coast and open Orthodox daily at 1am, you will get the information
	for the previous day. Also, because the readings are specified using Septuagint
	versification, an incorrect reading may on rare occasions be provided (mostly
	in the Proverbs).</p>
{% endblock %}
