{% extends "content_base.html" %}

{% block title %}Alexa Skill for the Orthodox Calendar{% endblock %}

{% block content %}
	<h1>Alexa Skill</h1>
	<p>The primary purpose for building this service was to support
	<a href="https://www.amazon.com/Brian-Glass-Orthodox-Daily/dp/B07BTQFVYJ/ref=sr_1_4?s=digital-skills&ie=UTF8&qid=1523730381&sr=1-4&keywords=orthodox">
			Orthodox Daily</a>, an Amazon Alexa skill.
	Orthodox Daily makes it easy to access the daily scripture
	readings. Simply ask Alexa to open Orthodox Daily, and she will
	provide you with a few details about today, including the fasting
	rules, and then read the prescribed scriptures out loud. The
	scriptures are read from the King James Version and at present,
	follow OCA rubrics.</p>

	<p>You can also ask Alexa directly about a particular day. For instance you can
	say, "Alexa, ask Orthodox Daily about tomorrow." Or you could say, "Alexa, ask
	Orthodox daily about the fast on Friday," or "Alexa, ask Orthodox Daily about
	saints on August 10."</p>

	<p>If you want to skip all the extra details and go straight to the scriptures,
	just say, "Alexa, ask Orthodox Daily to read the scriptures." If you missed the
	scriptures yesterday, you can say, "Alexa, ask Orthodox Daily to read the
	scriptures for yesterday.</p>

	<p>There are some known bugs. Orthodox Daily runs in Pacific timezone. If you live
	on the east coast and open Orthodox daily at 1am, you will get the information
	for the previous day. Also, because the readings are specified using Septuagint
	versification, an incorrect reading may on rare occasions be provided (mostly
	in the Proverbs).</p>
{% endblock %}
