{% extends "content_base.html" %}
{% load fullurl %}

{% block title %}Orthodox Calendar and Readings API{% endblock %}

{% block head %}
	<meta name="description" content="Orthocal.info provides a RESTful API for information about feasts, fasts, daily scripture readings, and commemorations.">
{% endblock %}

{% block content %}
	<h2>API Documentation</h2>

	<p>Start with the
	<strong><a href="{% url "api:openapi-view" %}" target="_blank">API Documentation</a></strong>
	and then experiment with the examples below.</p>

	<h2>Examples of Javascript Embedding</h2>

	<p>Website administrators can use these apis in conjunction with front-end Javascript to 
	embed the daily readings on the sites they maintain. Backend code can also be used, but that
	is beyond the scope of this documentation and is left up to the administrator.</p>

	<p>Following are some simple examples of how to fetch the data from the api and incorporate 
	it into a page.</p>

	<h3>ES6 Example</h3>

	<!-- This is an older example -->
	<!-- <script src="https://gist.github.com/brianglass/24df39824f67a4fda7ff3a6c5f665d9b.js"></script> -->
	<script src="https://gist.github.com/brianglass/4b31f5a98ea3e1a6eae9aff70d71d9e8.js"></script>

	<h3>HTML With jQuery Example</h3>

	<p>A very simple example of how to fetch and display fasting information using jQuery follows.</p>

	<script src="https://gist.github.com/brianglass/8e8f9f4ea9543911198bd6edf74dd77b.js"></script>

	<h3>React.js Example</h3>

	<p>You can view the code for the previous version of this site that was
	built with React.js in the <a
	href="https://github.com/brianglass/orthocal-client">orthocal-client</a> Github repository.<p>
{% endblock %}
