{% extends "content_base.html" %}
{% load fullurl %}

{% block title %}Orthodox Calendar and Readings API{% endblock %}

{% block head %}
	<meta name="description" content="Orthocal.info provides a RESTful API for information about feasts, fasts, daily scripture readings, and commemorations.">
{% endblock %}

{% block content %}
	<h2>API Documentation</h2>

	<p>Start with the
	<strong><a href="{% url "api:openapi-view" %}" target="_blank">API Documentation</a></strong>
	and then experiment with the examples below.</p>

	<h2>Code Examples</h2>

	<p>Website administrators can use these APIs on either the front-end or
	back-end to embed the daily readings on the sites they maintain.
	Following are some simple examples of how to fetch the data from the api and incorporate 
	it into a page using either PHP or Javascript.</p>

	<h3>PHP Example</h3>

	<script src="https://gist.github.com/brianglass/ca92f3210e273cf161542bf760f33e84.js"></script>

	<h3>Browser-based Javascript Examples</h3>

	<h4>HTML With jQuery Example</h4>

	<script src="https://gist.github.com/brianglass/8e8f9f4ea9543911198bd6edf74dd77b.js"></script>

	<h4>ES6 Example</h4>

	<!-- This is an older example -->
	<!-- <script src="https://gist.github.com/brianglass/24df39824f67a4fda7ff3a6c5f665d9b.js"></script> -->
	<script src="https://gist.github.com/brianglass/4b31f5a98ea3e1a6eae9aff70d71d9e8.js"></script>

	<h4>React.js Example</h4>

	<p>You can view the code for the previous version of this site that was
	built with React.js in the <a
	href="https://github.com/brianglass/orthocal-client">orthocal-client</a> Github repository.<p>
{% endblock %}
