{% extends "content_base.html" %}

{% block title %}Orthodox iCal Feed{% endblock %}

{% block content %}
	<h2>iCal</h2>

	<p>An ical feed is available at:</p>

	<blockquote><a href="http://orthocal.info/api/oca/ical/">/api/oca/ical/</a></blockquote>

	<p>Or for the Julian calendar:</p>

	<blockquote><a href="http://orthocal.info/api/rocor/ical/">/api/rocor/ical/</a></blockquote>

	<p>You can see what this looks like in Google Calendar below.</p>
	<iframe src="https://calendar.google.com/calendar/embed?src=k8gcmal1m8t5dpgiqm9irq6efimiu4jc%40import.calendar.google.com&ctz=America%2FDenver" style="border: 0" width="800" height="600"></iframe>
{% endblock %}
