html {
    font-size: 18px;
    font-family: 'EB Garamond', Garamond, 'Times New Roman', Georgia, serif;
    /* Prevent page shifting when scrollbar disappears on short pages */
    overflow-y: scroll;
}
body {
    margin: 0;
}
h1, h2, h3, h4 {
    text-align: center;
}

/* Site title and navigation */
body > header {
    margin: 0;
    padding: 1.75em 0 0.25em 0;
    text-align: center;
    font-size: 2.5em;
    color: #666;
	font-weight: bold;
    font-variant: small-caps;
}
body > header a {
    text-decoration: none;
    color: #666;
    text-shadow: 2px 2px 4px #ddd;
}
body > nav {
    margin: 0;
    padding: 0;
    text-align: center;
}
body > nav ul {
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}
body > nav li {
    display: inline;
    border-right: 3px solid #ddd;
    padding: 8px;
    margin-left: -4px;
    text-transform: lowercase;
}
body > nav li:last-child {
    border-right: none;
}
body > nav a:link, body > nav a:visited {
    text-decoration: none;
    color: #777;
    transition-property: color, text-shadow;
    transition-duration: 0.3s;
}
body > nav a:hover {
    color: black;
    text-shadow: 2px 2px 3px #bbb;
}

/* Readings and Calendar navigation */
body > nav a.cal-nav {
    display: inline-block;
    font-size: 0.85em;
    background-color: #999;
    border: 1px solid #999;
    color: white;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 3px;
	text-decoration: none;
    transition-property: background-color, color, border;
    transition-duration: 0.4s;
}
body > nav a.cal-nav:hover {
    background-color: white;
    color: #666;
    border: 1px solid #bbb;
    cursor: pointer;
}
a.active {
    background-color: #ddd;
}

main#orthocal {
    margin: 1em auto 4em auto;
    border-top: 8px solid #eee;
	width: 75%;
    min-height: 100%;
}
main#orthocal p {
    text-indent: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}
main#orthocal iframe {
    margin: 4% auto;
    width: 100%;
}
main#orthocal > header {
    padding-top: 1.5em;
    padding-bottom: 1em;
}
main#orthocal > header h1 {
	margin-top: 0;
	color: #555;
	font-size: 1.5em;
}
main#orthocal > header h1 span {
	margin-top: 0;
	color: black;
	font-size: 1.1em;
}

section.readings {
	border-top: 3px solid #ddd;
	padding-top: 1.5em;
	margin-top: 1.5em;
}

.fasting {
	font-size: 1.4em;
	color: #555;
	text-align: center;
	text-indent: 0 !important;
}
.day {
    margin-top: 1em;
    padding-top: 1.5em;
    border-top: 5px solid #eee;
}
.commemorations li, .feasts li, .day > p {
    color: #555;
}
.passage {
    columns: 3 20em;
    column-gap: 2em;
    column-rule: 1px solid #ddd;
    padding-top: 2em;
    widows: 3;
    orphans: 3;
}
.passage h2 {
    margin-top: 0;
	font-size: 1.1em;
    break-inside: avoid;
}
.passage p .verse-number {
    vertical-align: super;
    font-size: 0.75em;
    color: gray;
}
.day>p {
    text-align: center;
}
.day section {
    text-align: left;
}
label input[type="radio"] {
    accent-color: #888;
}
.service-notes ul, .commemorations ul, .feasts ul {
    text-align: center;
    margin: 0;
    padding: 0;
	list-style-type: none;
}
.service-notes h2, .feasts h2, .commemorations h2 {
    margin-bottom: 0em;
	font-size: 1.2em;
}

table.month {
	font-size: 1.65vw;
    margin: 2em auto;
	table-layout: fixed;
	border-collapse: collapse;
}
table.month td {
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	font-size: 0.75em;
	vertical-align: top;
	background-color: #f9f9f9;
	text-align: left;
    width: 14.28%;
}
table.month td.fast {
	background-color: #eee;
}
table.month td.fast:hover {
	background-color: #ddd !important;
}
table.month td.noday {
	border: 0;
	background-color: white;
}
table.month tr td p {
	text-indent: 0 !important;
	text-align: left;
    margin-bottom: 1em !important;
}
table.month tr th {
	text-align: center;
	color: gray;
}
table.month tr:first-child th {
	font-size: 1.5em;
    color: black;
    padding-top: 0;
	padding-bottom: 1em;
}

.commemorations li, .feasts li {
	display: inline;
}
.commemorations li + li:before, .feasts li + li:before {
	content: "●";
	padding: 0.5em;
}

p.feast {
	font-weight: bold;
	color: black;
}

table.month ul {
	list-style-type: none;
	margin: 0 0 1em 0;
	padding: 0;
}
table.month li {
	display: inline;
}
table.month li + li:before {
	content: "●";
	padding: 0 0.5vw;
}
ul.feasts li {
	font-weight: bold;
	color: black;
}
ul.saints li {
	font-size: 0.75em;
}

p.day-number {
	font-size: 1.5em;
}
table.month td {
    transition-property: background-color;
    transition-duration: 0.25s;
}
table.month td a {
	display: block;
	padding: 1vw;
	text-decoration: none;
	color: black;
	height: 100%;
}
table.month td.sun:hover,
table.month td.mon:hover,
table.month td.tue:hover,
table.month td.wed:hover,
table.month td.thu:hover,
table.month td.fri:hover,
table.month td.sat:hover
{
	background-color: #eee;
    cursor: pointer;
}
