@import url('https://fonts.googleapis.com/css?family=Merriweather');

html {
    font-size: 16px;
    font-family: 'Merriweather', serif;
}
body {
    margin: 0;
}
h1, h2, h3, h4 {
    text-align: center;
}

/* Site title and navigation */
body > header {
    margin: 0;
    padding: 6% 0 1% 0;
    text-align: center;
    font-size: 250%;
    color: #666;
	font-weight: bold;
}
body > nav {
    margin: 0;
    padding: 0;
    text-align: center;
}
body > nav ul {
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}
body > nav li {
    display: inline;
    border-right: 3px solid #ddd;
    padding: 8px;
    margin-left: -4px;
}
body > nav li:last-child {
    border-right: none;
}
body > nav a:link, body > nav a:visited {
    color: black;
    text-decoration: none;
}
body > nav a:hover {
    text-decoration: underline;
}

/* Readings and Calendar navigation */
body > nav a.cal-nav {
    display: inline-block;
    font-family: 'Merriweather', serif;
    font-size: 85%;
    background-color: #999;
    border: 1px solid #999;
    color: white;
    padding: 6px;
    margin: 2px;
    transition-duration: 0.3s;
    border-radius: 3px;
	text-decoration: none;
}
body > nav a.cal-nav:hover {
    background-color: white;
    color: #666;
    border: 1px solid #bbb;
    cursor: pointer;
}
a.active {
    background-color: #ddd;
}

main#orthocal {
    margin: 2% auto;
    border-top: 8px solid #eee;
    padding-top: 2em;
	width: 75%;
}
main#orthocal p {
    text-indent: 2em;
}
main#orthocal iframe {
    margin: 4% auto;
    width: 100%;
}
main#orthocal > header h1 {
	margin-top: 0;
	color: #555;
	font-size: 150%;
}
main#orthocal > header h1 span {
	margin-top: 0;
	color: black;
	font-size: 110%;
}

section.readings {
	border-top: 3px solid #ddd;
	padding-top: 2em;
	margin-top: 3em;
}

input {
    font-family: 'Merriweather', serif;
}
.fasting {
	font-size: 140%;
	color: #555;
	text-align: center;
	text-indent: 0 !important;
}
.day {
    margin-top: 1em;
    padding-top: 1.5em;
    border-top: 5px solid #eee;
}
.commemorations li, .feasts li, .day > p {
    font-size: 100%;
    color: #555;
}
.passage {
    columns: 3 20em;
    column-gap: 2em;
    column-rule: 1px solid #ddd;
    padding-top: 2em;
}
.passage h2 {
    margin-top: 0;
	font-size: 110%;
}
.passage p {
    text-indent: 1em;
    margin: 0;
}
.passage p .verse-number {
    vertical-align: super;
    font-size: 75%;
    color: gray;
}
.day>p {
    text-align: center;
}
.day section {
    text-align: left;
}
label {
    margin-top: 35px;
}
.readings {
    font-size: 100%;
}
.service-notes ul, .commemorations ul, .feasts ul {
    text-align: center;
    margin: 0;
    padding: 0;
	list-style-type: none;
}
.service-notes h2, .feasts h2, .commemorations h2 {
    margin-bottom: 3px;
	font-size: 1.2em;
}
.readings h3 {
    margin-top: 30px;
}

table.month {
	font-size: 1.5vw;
	margin-top: 0;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	border-collapse: collapse;
}
table.month td {
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	font-size: 75%;
	vertical-align: top;
	background-color: #f9f9f9;
	text-align: left;
}
table.month td.fast {
	background-color: #eee;
}
table.month td.fast:hover {
	background-color: #ddd !important;
}
table.month td.noday {
	border: 0;
	background-color: white;
}
table.month tr td p {
	text-indent: 0;
}
table.month tr th {
	text-align: center;
	font-size: 100%;
	color: gray;
}
table.month tr:first-child th {
	font-size: 1.5em;
    color: black;
    padding-top: 0;
	padding-bottom: 1em;
}

.commemorations li, .feasts li {
	display: inline;
}
.commemorations li + li:before, .feasts li + li:before {
	content: "●";
	padding: 0.5em;
}

p.feast {
	font-weight: bold;
	color: black;
}

table.month ul {
	list-style-type: none;
	margin: 0 0 1em 0;
	padding: 0;
}
table.month li {
	display: inline;
}
table.month li + li:before {
	content: "●";
	padding: 0 0.5vw;
}
ul.feasts li {
	font-weight: bold;
	color: black;
}
ul.saints li {
	font-size: 75%;
}

p.day-number {
	font-size: 150%;
}
table.month td a {
	display: block;
	padding: 1vw;
	text-decoration: none;
	color: black;
	height: 100%;
}
table.month td.sun:hover,
table.month td.mon:hover,
table.month td.tue:hover,
table.month td.wed:hover,
table.month td.thu:hover,
table.month td.fri:hover,
table.month td.sat:hover
{
	background-color: #eee;
    cursor: pointer;
}
