@page {
    margin: 1in;
}
html {
    font-size: 12px;
}
body {
    padding: 0;
    margin: 1in 0 0 0;
}
body > header {
    display: none;
}
body > nav {
    display: none;
}
main#orthocal {
    width: 100%;
    border-top: 0;
    margin: 0;
    padding: 0;
}
table.month {
    font-size: 8pt;
    margin: -1in -1in -1in 0in;
    width: 100%;
}
table.month tr:first-child th {
    padding-bottom: 0.5em;
}
.print-exclude {
    display: none;
}
.passage {
    widows: 2;
    orphans: 2;
    column-rule: 0;
}
section.readings {
    border: 0;
}
main#orthocal > header h1 {
	font-size: 200%;
}
h1, h2, h3, h4 {
    page-break-after: avoid;
}
